@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
:root{
    --primary-color: #457222;
    /* --secondary-color: #1F3038; */
    --secondary-color: #A6CE39;
    --third-color: #174d15;
    --texts-color-dark: #1c1c1c;
    --texts-color-light: #ebebeb;
}
h1,h2,h3,h4{
    color: var(--texts-color-dark);
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: var(--texts-color-light);
    font-family: "Bebas Neue" sans-serif;
}

/* NAVBAR */

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.850);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 4rem;
    box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.75);
}
.brand{
    width: 8rem;
    height: 8rem;
    margin: 10px;
    object-fit: contain;
    cursor: pointer;
}
.nav-links{
    display: none;
}

/* HOME */

.home-container{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 40px 0;
    background: linear-gradient(var(--primary-color), var(--secondary-color));;
}
.home-text{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}
.home-text p{
    color: var(--texts-color-dark);
}
.name{
    font-family: 'Bebas Neue', serif;
    letter-spacing: 3px;
    font-size: 35px;
    color: var(--texts-color-light);
    margin-left: 3px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.75));
}
.career{
    font-size: 20px;
    color: var(--texts-color-light) !important;
    margin-bottom: 8px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.75));
}
.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.me-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 10px auto;
    object-fit: cover;
    box-shadow: 0px 8px 20px 7px rgba(0, 0, 0, 0.75);
}
.home-buttons{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 8px;
}
.btn-primary{
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--third-color);
    color: var(--texts-color-light);
    cursor: pointer;
    font-weight: 400;
    font-size: 1.04rem;
}
.btn-secondary{
    border: var(--third-color) 1px solid;
    text-decoration: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--texts-color-light);
    color: var(--third-color);
    font-weight: 400;
    cursor: pointer;
    font-size: 1.04rem;
}
button:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.btn-secondary:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

/* LENGUAJES */

.languages-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(
    to bottom,
    var(--secondary-color) 0%,
    var(--secondary-color) 0%,
    var(--primary-color) 40%,
    var(--primary-color) 100%
);
    gap: 25px;
    padding: 10px;
    height: 60vh;
}
.languages-container h2,h3{
    color: var(--texts-color-light);
}
/* SOBRE MI */

.about-me-container{
    background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--primary-color) 50%,
    var(--secondary-color) 90%,
    var(--secondary-color) 100%
);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 100px 30px;
    gap: 10px;
    height: auto;
    width: 100%;
}
.about-me-container h2{
    color: var(--texts-color-dark);
}
.about-me-container p{
    font-size: 1.1rem;
    color: var(--texts-color-dark);
    font-weight: 500;
}
.about-me-container b{
    color: var(--texts-color-light) !important;
    font-weight: 500;
    margin: 0 5px;
}

/* PROYECTOS */

.projects{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 15px;
    background: linear-gradient(var(--secondary-color), var(--primary-color));
}
.project-title{
    margin: 20px;
    color: var(--texts-color-light);
    text-align: center;
}
.project__image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px 0;
}
.project__title{
    font-family: 'Bebas Neue', serif;
    color: #78bff0;
    font-size: 25px;
}
.project__list{
    padding: 10px 20px;
    text-align: start;
}
.project__list li{
    margin: 10px;
    color: var(--texts-color-light);
}
.project__list li::marker{
    color: var(--texts-color-dark);
}
.project__brand{
    width: 100%;
    height: 100px;
    object-fit: contain;
}
.project__buttons-container{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 12px 0;
}

/* CERTIFICADOS */

.certificate-container{
    background: linear-gradient(var(--primary-color),var(--secondary-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 8px;
    padding: 10px;
}
.certificate-container h2{
    margin: 20px;
    color: var(--texts-color-light);
    font-size: 2rem;
}
.certicates-container-secondary{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin: 10px 0;
}
.certificate-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTACTOS */

.contact-container-primary{
    background: linear-gradient(var(--secondary-color),var(--primary-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 30px;
}
.contact-container-primary h2,p{
    color: var(--texts-color-light);
    text-align: center;
}
.contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 10px;
}

/* FOOTER */

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.850);
    padding: 10px;
}
.brand-footer{
    width: 8rem;
    height: 8rem;
    object-fit: contain;
}
.footer-text{
    margin-bottom: 5px;
    text-align: center;
}
.footer-text p{
    color: var(--texts-color-dark);
}

/* LOADER */

.loader-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    width: fit-content;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: #2659d900;
    -webkit-text-stroke: 1px #0a0a0a;
    --g:conic-gradient(var(--primary-color) 0 0) no-repeat text;
    background:var(--g) 0,var(--g) 1ch,var(--g) 2ch,var(--g) 3ch,var(--g) 4ch,var(--g) 5ch,var(--g) 6ch, var(--g) 7ch, var(--g) 8ch;
    background-position-y: 100%;
    animation: l19 1.5s linear infinite alternate;
}
.loader:before {
    content: "Front-End";
}
.icon-languages:hover{
    transform: scale(1.2);
    transition-duration: .3s;
}
@keyframes l19 {
    0%  {background-size: 1ch 0   ,1ch 0   ,1ch 0   ,1ch 0   ,1ch 0   ,1ch 0   ,1ch 0   }
    25% {background-size: 1ch 100%,1ch 50% ,1ch 0   ,1ch 0   ,1ch 0   ,1ch 50% ,1ch 100%}
    50% {background-size: 1ch 100%,1ch 100%,1ch 50% ,1ch 0   ,1ch 50% ,1ch 100%,1ch 100%}
    75% {background-size: 1ch 100%,1ch 100%,1ch 100%,1ch 50% ,1ch 100%,1ch 100%,1ch 100%}
    to  {background-size: 1ch 100%,1ch 100%,1ch 100%,1ch 100%,1ch 100%,1ch 100%,1ch 100%}
}
img{
    transition: transform 0.4s ease; /* Suavidad del hover */
}
img:hover{
      transform: scale(1.05); /* Zoom leve del 5% */
}
@media (min-width: 1024px) {
    h1,h2,h3,h4{
        font-size: 200%;
        text-align: center;
    }
    /* NAVBAR */

    .navbar-container{
        justify-content: space-around;
        height: 5rem;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .NavLink{
        color: #332e2e;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
    }
    .NavLink:hover{
        color: var(--primary-color);
        font-weight: 700;
        text-decoration: underline;
    }
    .NavLink:focus{
        color: var(--third-color);
        font-weight: 700;
    }
    .brand{
        width: 10rem;
        height: 10rem;
    }

    /* HOME */ 

    .home-container{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 70px;
        height: 100vh;
    }
    .home-text{
        margin: 0 10px;
        font-size: 180%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }
    .name{
        font-size: 150%;
    }
    .career{
        font-size: 150%;
    }
    .me-image{
        width: 550px;
        height: 550px;
        border-radius: 50%;
        margin: 10px auto;
        object-fit: cover;
    }
    .btn-primary{
        padding: 18px 30px;
        font-size: 20px;
    }
    .btn-secondary{
        padding: 18px 30px;
        font-size: 20px;
    }

    /* LENGUAJES */

    .icon-languages{
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin: 15px;
    }

    /* SOBRE MI*/

    .about-me-container{
        font-size: 130%;
        gap: 35px;
        justify-content: center;
        height: auto;
        padding: 50px;
    }
    .about-me-container p{
        text-align: start;
    }
    /* PROYECTOS */
    .projects{
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
        padding: 15px;
        gap: 25px;
        width: 100%;
    }
    .project-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 45px;
        margin-bottom: 15px;
        max-width: 50%;
    }
    .project__description{
        font-size: 120%;
    }
    .project__container-secondary{
        display: flex;
        flex-direction: column;
        gap: 15px;
        min-width: 90%;
    }
    .project-title{
        margin: 30px;
    }
    .project__image{
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 8px;
    }
    .project__brand{
        width: 100%;
        height: 120px;
        object-fit: contain;
    }
    .project__buttons-container{
        display: flex;
        justify-content: center;
        gap: 12px;
        margin: 8px 0;
    }

    /* CERTIFICADOS */

    .certificate-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        gap: 8px;
        padding: 10px;
    }
    .certicates-container-secondary{
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 40px;
    }

    /* CONTACTOS */

    .contact-container-primary{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .contact-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }
    .contact__icon{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .loader{
        font-size: 6rem;
    }
}
/* AGREGAR FAVICON */